<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.areuhot.map.mapper.MapMapper">

    <insert id="insertMap" parameterType="kr.kro.areuhot.map.model.WarehouseMap" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO map (
            warehouse_id, file_path, version, is_active, type, created_at
        )
        VALUES (
            #{warehouseId}, #{filePath}, #{version}, #{active}, #{type}, #{createdAt}
        )
    </insert>

    <update id="deactivateByWarehouseId">
        UPDATE map
        SET is_active = false
        WHERE warehouse_id = #{warehouseId}
          AND is_active = true;
    </update>

    <select id="findActiveMapIdByWarehouseId">
        SELECT id
        FROM map
        WHERE warehouse_id = #{warehouseId}
          AND is_active = true
        LIMIT 1
    </select>

    <select id="findActiveMapByWarehouseId" resultType="kr.kro.areuhot.map.dto.MapResponseDto">
        SELECT id AS map_id, warehouse_id, file_path
        FROM map
        WHERE warehouse_id = #{warehouseId}
          AND is_active = true
        LIMIT 1
    </select>

</mapper>
