.DetailWrite {
  /* padding: 12px 30px 20px 30px; */
  color: #dad9df;
  height: 35vh;
}

.DetailWrite_Value {
}

.DetailWrite_Title {
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 5px;
}

.DetailWrite_EmpTitle {
  width: 25%;
  padding-top: 8px;
}

.DetailWrite_Emp {
  display: flex;
}

.DetailWrite_Input {
  width: 100%;
  border-bottom: 1px solid #787980;
  margin: 5px 0px 15px 10px;
  resize: none;
}

.DetailWrite_EmpInput {
  height: 30px;
}

.DetailWrite_Message {
  display: flex;
}

.DetailWrite_MessageTitle {
  width: 25%;
  padding-top: 8px;
}

.DetailWrite_BtnWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 3px;
  gap: 20px;
}

.DetailWrite_MessageInput {
  height: 70px;
}
