.Header {
  background-color: #20212a;
  margin-bottom: 25px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  color: #eaeaf0;
}

.Header_Right {
  display: flex;
  gap: 30px;
}

.Header_Issue,
.Header_Login {
  font-weight: bolder;
  cursor: pointer;
}
