

.IssueModal {
  background-color: #20212a;
  border-radius: 15px;
  /* --- 1. 모달 너비와 높이를 확장 --- */
  width: 90vw; /* 기존 50%에서 뷰포트 너비의 90%로 확장 */
  max-width: 1800px; /* 화면이 너무 클 때를 대비한 최대 너비 */
  height: 90vh; /* 높이도 90%로 조정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #424242;

  display: flex; /* ✅ 추가 */
  flex-direction: column;
}
