.IssueItem {
  padding: 20px;
  background-color: #32343f;
  cursor: pointer;
  border-radius: 15px;
}

.IssueItem:hover {
  background-color: #444653;
}

.IssueItem_Header {
  display: flex;
  justify-content: space-between;
}

.IssueItem_Spot {
  font-weight: bolder;
  font-size: 20px;
}

.IssueItem_Temp {
  display: flex;
  align-items: center;
  gap: 10px;
}

.IssueItem_TempValue {
  color: #c2c2c2;
}

.IssueItem_Message {
  margin: 15px 0;
  text-align: left;
}

.IssueItem_Admin,
.IssueItem_Date {
  color: #c2c2c2;
}

.IssueItem_Footer {
  display: flex;
  justify-content: space-between;
}
