.Modal_Content_Right {
}

.Modal_Content_Right_Title {
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px 30px;
}

.Modal_ReportBtnWrapper {
  /* padding: 0px 30px; */
  display: flex;
  justify-content: right;
}

.Modal_Content_Right_Content {
  padding: 0px 30px 20px 30px;
}
