.Modal_Content_Left {
  padding: 5px 30px;
}

.Modal_Content_Left_Title {
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 10px;
}

.Modal_Content_Left_Date {
  font-weight: lighter;
}

.Modal_Content_Left_Temp {
  font-weight: lighter;
  margin-left: -2px;
  margin-bottom: 20px;
}
