.SidebarDetailReport_Ad,
.SidebarDetailReport_Emp,
.SidebarDetailReport_Time {
  display: flex;
  gap: 10px;
  color: #c2c2c2;
}

.SidebarDetailReport_Ad_Title,
.SidebarDetailReport_Emp_Title,
.SidebarDetailReport_Time_Title {
  font-weight: bold;
}

.SidebarDetailReport_Message_Value {
  color: #dad9df;
  font-weight: bold;
}
