.SidebarDetailReport {
  padding: 20px 30px;
}

.SidebarDetailReport_Header {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SidebarDetailReport_Title {
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
}

.SidebarDetailReport_Message {
  margin-top: 12px;
}

.SidebarDetailReport_UpdateBtnWrapper {
  display: flex;
  justify-content: flex-end;
}
