.SidebarDetail {
  background-color: #20212a;
  border-radius: 15px;
  height: 100%;
  color: #eaeaf0;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.SidebarDetail::-webkit-scrollbar {
  display: none;
}

.SidebarDetailWriteBtn {
  padding: 20px 50px;
}
.SidebarDetail_ReportBtnWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
}

.SidebarDetail_Report {
  padding: 20px 30px 20px 30px;
}

.SidebarDetail_Write {
  padding: 12px 30px 20px 30px;
}
