.SidebarDetailContent {
  padding: 20px 30px;
  border-bottom: 3px solid #33333c;
}

.SidebarDetailContent_Date {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.SidebarDetailContent_Temp {
  display: flex;
  gap: 10px;
  margin-left: -2px;
  margin-bottom: 10px;
}

.SidebarDetailContent_Img {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 200px;

  overflow: hidden;
}

/* 캐러셀과 그 안의 아이템들이 부모(.SidebarDetailContent_Img)의 높이를 100% 사용하도록 설정 */
.SidebarDetailContent_Img .carousel,
.SidebarDetailContent_Img .carousel-inner,
.SidebarDetailContent_Img .carousel-item {
  height: 100%;
}

/* 이미지가 비율을 유지한 채 컨테이너를 꽉 채우도록 설정 (가장 중요한 부분) */
.SidebarDetailContent_Img .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* 이미지가 찌그러지지 않고, 비율에 맞게 잘려서 꽉 채움 */
}
