.SidebarDetailHeader {
  display: flex;
  border-bottom: 3px solid #33333c;
  padding: 10px 20px;
  justify-content: space-between;
}

.SidebarDetailHeader_Spot {
  font-size: 25px;
  font-weight: bold;
}

.SidebarDetailHeader_Left {
  display: flex;
}

.SidebarDetailHeader_CloseBtn {
  cursor: pointer;
}

.SidebarDetailHeader_StatusGroup {
  display: flex;
}
@media (max-width: 768px) {
  .SidebarDetailHeader_Spot {
    font-size: 1.2rem; /* 필요에 따라 조절 */
  }
}
