<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.areuhot.robot.mapper.RobotMapper">

    <select id="findWarehouseIdByRobotId" resultType="int">
        SELECT warehouse_id
        FROM robot
        WHERE id = #{robotID}
    </select>

    <insert id="insertRobotLog" parameterType="kr.kro.areuhot.robot.model.RobotLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO robot_log (
            robot_id, x, y, direction, created_at
        ) VALUES (
            #{robotId}, #{x}, #{y}, #{direction}, #{createdAt}
        )
    </insert>

    <select id="findRobotListByWarehouseId" resultType="kr.kro.areuhot.robot.dto.RobotResponseDto">
        SELECT
            id AS robot_id,
            name,
            status,
            created_at
        FROM robot
        WHERE warehouse_id = #{warehouseId}

    </select>



</mapper>
