<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.areuhot.robot.mapper.RobotCommandMapper">

    <insert id="insertRobotCommand" parameterType="kr.kro.areuhot.robot.model.RobotCommand" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO robot_command (
            command_id, warehouse_id, robot_id, spot_id, timeout_sec
        ) VALUES (
            #{commandId,jdbcType=BINARY}, #{warehouseId}, #{robotId}, #{spotId}, #{timeoutSec}
        )
    </insert>

</mapper>
